body{
    font-family: 'Open Sans', sans-serif;
    background-color: black;
}
#container{
    width: auto;
    height: 550px;
    background-color: skyblue;
    margin: 20px auto;
}
#calculator{
    width: 320px;
    height: 520px;
    background-color: aliceblue;
    margin: auto;
    top: 10px;
    position: relative;
    border-radius: 5px; 
    box-shadow: 0 4px 8px 0 rgba(0,0,100, 0.5), 0 6px 20px 0 rgba(100,0,0,0.19);
}
#results{
    height: 120px;
}
#history{
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 15px;
    color: darkgray;
}
#output{
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    font-size: 30px;
}
#keyboard{
    height: 400px;
}
.operator, .number, .empty{
    height: 50px;
    width: 50px;
    margin: 15px;
    float: left;
    border-radius: 50%;
    border-width: 0;
    font-weight: bold;
    font-size: 13px;
}
.number, .empty{
    background-color: aliceblue;
}
.operator, .number{
    cursor: pointer;
    border-width: 0.1px;
}
.operator:active, .number:active{
    font-size: 14px;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0,0,100, 0.5), 0 6px 20px 0 rgba(100,0,0,0.19);
}
.operator:focus, .number:focus, .empty:focus{
    outline: 0;
}
button:nth-child(4){
    font-size: 20px;
    background-color: aquamarine;
}
button:nth-child(8){
    font-size: 20px;
    background-color: goldenrod;
}
button:nth-child(12){
    font-size: 20px;
    background-color: palevioletred;
}
button:nth-child(16){
    font-size: 20px;
    background-color: royalblue;
}
button:nth-child(20){
    font-size: 20px;
    background-color: mediumpurple;
}